[Unit]
Description=Spring Boot Demo
After=network.target
StartLimitIntervalSec=0
[Service]
Type=simple
Restart=always
RestartSec=1
User=deployer
ExecStart=/usr/bin/java -jar /artifact/spring-boot2-demo-0.0.1-SNAPSHOT.jar

[Install]
WantedBy=multi-user.target